*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    width: 100%;
}
:root{
    --brown:rgb(56, 3, 3)
}



#logo{
    width: 100%;
    height: 100px;
}
.nav-item i{
    color: rgba(153, 152, 152, 0.635);
}
.nav-item {
    font-size: 20px;
}
#contactbtn{
    background-color:var(--brown) ;
    color: white;
}
#contactbtn:hover{
    background-color: white;
    color: var(--brown);
    border-color: var(--brown);
}

.main{
    background-image: url('./images/table1.png');
   /*  height: 120vh; */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#sample{
  /*   height: 120vh; */
    background-color: rgba(0, 0, 0, 0.363);
}

.Welcome{
    padding-top: 22%;
    padding-left: 5%;
    color: white;
}

.Welcome h1{
   font-size: 105px;
}
#Gallery button{
    width: 25%;
}
@media(max-width:600px){
    .Welcome h1{
        font-size: 50px;
    }
    .main{
        background-position: bottom;
    }
    .nav-item i{
        display: none;
    }
    #Gallery button{
        width: 75%;
    }
}

.work{
    margin-top: 10%;
    background-image: url('https://media.istockphoto.com/id/1370858067/vector/neutral-abstract-background-minimal-poster-template-with-diagonal-shapes-calm-design-with.jpg?s=612x612&w=0&k=20&c=18U2vCQ0oVYOi0uBiGUEGWaUWf4dgHKCURaJvRssIGI=');
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    padding-top: 4%;
    background-size: cover;
   
}


.viewBtn{
    border-color: var(--brown);
    color: var(--brown);
}
.viewBtn:hover{
    background-color: var(--brown);
    color: white;
}

.imgDiv{
    width: 100%;
    height: 490px;
    border:5px solid var(--brown);
    padding-top: 4%;
    padding-left: 4%;

}
.hr{
    width: 20%;
    height: 5px;
    background-color: var(--brown);
}
#fur{
    color: var(--brown);
}

#Gallery{
    padding-top: 5%;
}
#Gallery h1{
    padding-bottom: 5%;
    font-weight: 600;
}
.imag1{
    position: relative;
   
    
}
.rosewood{
    width: 50%;
    padding: 4%;
    background-color: rgba(0, 0, 0, 0.893);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;   
}